<div class="main flex justify-center">
    <div *ngIf="buttonClicked">
        <div class="pyro">
            <div class="before"></div>
            <div class="after"></div>
        </div>
        <h1>Happy 24th Birthday Pucchu<span>❤</span></h1>
    </div>
    <div *ngIf="!buttonClicked">
        <button type="button"
        class="self-center h-1 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 "
        (click)="start()">Click Here</button>
    </div>
    
</div>
<audio #audioElement src="iraaday.mp3"></audio>