.video-container {
  overflow-y: scroll;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: none;
  flex-direction: column;
  align-items: center;
}

:host {
  display: flex;
  overflow-x: auto;
  gap: 16px; /* Adjust spacing between videos */
}

.box{
  height:28rem;
  border-radius: 2rem;
  box-shadow: rgb(0, 0, 0) 0px 10px 10px -5px inset;
}

.video {
  height: 100%;
  width: 100%;
  max-width: 400px; /* Adjust maximum width as needed */
  overflow: scroll;
  border-radius: 2rem; /* Add border-radius for rounded corners */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 3rem;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Inherit border-radius for video element */
}
